.sections {
    width: 430px;
    margin: 0 auto;
}

.section_item {
    font-size: 14px;
    font-style: italic;
    line-height: 1px;

}

.section-block {
    border: 1px solid red;
    border-radius: 7px;
    padding: 9px;
}

.section_footer {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
}